{{ define "main" }}
<content>
  <h1>{{ .Title }}</h1>
  {{ if .Params.link }}
    <p class="link-url">🔗 <a href="{{ .Params.link }}" target="_blank" rel="noopener noreferrer">Original article</a></p>
  {{ end }}
  
  {{ if .Params.authors }}
    <p class="authors">By {{ delimit .Params.authors ", " " and " }}</p>
  {{ end }}
  
  <article>
    {{ .Content }}
  </article>

  {{ with .Params.tags }}
    <p class="tags">
      Tags:
      {{ range . }}
        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
      {{ end }}
    </p>
  {{ end }}
</content>
{{ end }}
