{{ define "title" }}404{{ end }}

{{ define "main" }}
<div style="text-align: center;">
<h3>Congratulations on your discovery: 5-&#963; 404</h3>
</div>

<h4>I recommend you to collect more data, refine your statistical analysis and possibly your sensitivity will challenge the current result in the future</h4>

<div style="text-align: center;">
    <img src="/images/404.jpg" alt="5-&#963; 404" style="display:block; margin:auto;" width="750" height="500">
    <p>Image source: <a href="https://root.cern/">root.cern</a></p>
  </div>
{{ end }}


